:host {
  --gradient-color-1: #FFD200;
  --gradient-color-2: #F7971E;
  --page-background: #e7ecf7;
  --segment-indicator-color: #4286f4;
}

// gradient background for the header
ion-header {
  background: -webkit-linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  ion-toolbar {
    --background: transparent;
  }
}

// page content background
ion-content {
  --background: var(--page-background);
}

// gradient background for the segment. It's the same as the one in the header
.segment-wrapper {
  background: -webkit-linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-content {
  background: var(--page-background);
  padding-top: 70px;
}
.category-title {
  font-size: 1rem;
  margin-top: 6px;
  display: block;
  font-weight: bold;
}

.category-img {
  width: 50px;
}

ion-segment.categories-segment {
  margin-bottom: -70px; // place categories inside the "header" section
  background: transparent;

  // remove slider scroll bar
  &::-webkit-scrollbar, *::-webkit-scrollbar {
     display: none !important;
     overflow: hidden !important;
  }

  // margin start for first category
  &:first-child {
    margin-left: 10px;
  }

  // margin end for last category
  &:last-child {
    margin-right: 10px;
  }

  ion-segment-button {
    --background: #FFF;
    --background-checked: #383a3e;
    --color: #000;
    --color-checked: #FFF;
    --indicator-color: var(--segment-indicator-color);
    --indicator-height: 6px;
    min-width: 110px;
    min-height: 110px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

// Access the shadow part of the segment indicator to style the line displayed below the selected category
ion-segment-button::part(indicator-background) {
  width: 80%;
  margin: 0px auto;
  margin-top: 122px;
  border-radius: 8px;
  margin-bottom: -15px; // needed for android
}
